# Environnement virtuel
venv/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Données brutes MIT-BIH
scripts/data/

# Fichiers générés
results/
*.npz
*.npy
*.pt

# Fichiers temporaires
scripts/check.py
scripts/run.txt